@model Web.Client.Models.SearchResult
<h1>Employees</h1>

<form onsubmit="return false">
    <p>
        Employee: <input type="text" id="query" />
    </p>
</form>
<br>
<div>
    <a asp-action="Create">Create</a>
</div>
<br>

<partial name="_GetEmployees" for="@Model">

<pager class="pager-container" list="@Model.Employees" options="@PagedListRenderOptions.Bootstrap4Full" asp-action="Get" asp-controller="Employee" asp-route-query="@Model.SearchQuery" />

@section Scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
            var search = $("#query");
            search.keyup(function (e) {
                $.ajax({
                    type: 'get',
                    url: '@(Url.Action("Get", "Employee"))',
                    data: { 'query': search.val()},
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $('#employees').html(result);
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
            });
        });
        </script>
    }
